.section_grid{
  ul{
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(baseline);

    width: 100%;
  }
}

// Grid item
.section_grid ul li{
  width: 50%;
  padding: 0 30px;

  margin-bottom: 50px;

  a{
    display: block;
    vertical-align: baseline;

    figure{
      background-color: $grey-light;

      img{
        display: block;

        min-width: 100%;
      }
    }

    p{
      padding: 1em 0;
    }
  }
}

@media #{$medium-down}{
  .section_grid ul li{
    &:nth-child(odd){
      padding: 0 15px 0 0;
    }

    &:nth-child(even){
      padding: 0 0 0 15px;
    }
  }
}

@media #{$small-only}{
  .section_grid ul li:nth-child(n){
    width: 100%;
    padding: 0;
  }
}