.section_hero{
  height: 100vh;
  margin-top: 0;
  padding: 0;
  overflow: hidden;

  background-color: $black;

  .section_hero-banner{
    position: fixed;
    
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// Remove fixed positioning on mobile devices
body.is-mobile{
  .section-hero .section-hero-banner{
    position: relative;
  }
}

@media #{$small-only}{
  .section_hero{
    display: none;
  }
}