@keyframes pulsate{
  0%{
    opacity: .6;
    width: 5px;
    height: 5px;
    border-width: 2px;
  }

  100%{
    opacity: 0;
    width: 30px;
    height: 30px;
    border-width: 5px;
  }
}

.loader{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 3px solid $black;

  -webkit-transform-origin: 50% 50%;
  animation-name: pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.section_grid .loader{
  margin: 30px auto;
}