.modal{
  @include transition( .2s );
  @include transform( translateY(100%) );

  bottom: 50px;
  position: absolute;

  width: 100%;
  max-width: none;

  background-color: $white;

  &.is_active{
    @include transform( translateY(0) );

    .modal_content{
      @include show( .2s );
    }
  }

  .modal_header{
    height: 50px;
    max-width: 1180px;
    margin: 0 auto;

    z-index: 9999;
  }

  .modal_content{
    @include hide( .2s );

    width: calc(100% - 200px);
    margin-left: 150px;
    margin-top: -40px;
  }
}

// Content: info
.modal_content ul li{
  @include flex;
  @include flex-direction( row );
  @include align-items( baseline );

  height: auto;
  overflow: hidden;
  margin-bottom: 1em;

  > p,
  > div{
    display: inline-block;

    &:first-child{
      width: 20%;

      text-align: right;
    }

    &:last-child{
      width: calc(80% - 50px);
      margin-left: 50px;
    }
  }

  &:last-child{
    margin-bottom: 30px;
  }
}

// Triggers
.modal_trigger{
  top: 0;
  left: 0;
  position: absolute;

  width: auto;

  line-height: 50px;
  white-space: nowrap;

  img{
    @include transition( .2s );

    vertical-align: middle;

    max-width: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
  }

  &.modal_open:hover{
    img{
      margin-top: -10px;
    }
  }

  &.modal_close:hover{
    img{
      @include transform( rotate(90deg) );
    }
  }
}

@media screen and (max-width: 1180px){
  .modal_trigger{
    left: 30px;
  }
}

@media screen and (max-width: 600px){
  .modal{
    left: 0;

    width: 100% !important;
    margin: 0;
    margin-left: 0 !important;

    .modal_content{
      width: 100%;
      margin: 0;
      margin-left: 0;
    }
  }

  .modal_trigger{
    left: 0;
  }
}