/* Arrows */
.slider-controls{
  @include transform( translate(-50%, -50%) );

  top: 50%;
  left: 50%;
  position: absolute;

  width: 100%;

  .arrow{
    @include transition( .2s );

    top: -10px;
    position: absolute;

    height: 38px;
    width: 38px;
    padding: 10px;
    display: block;

    cursor: pointer;

    &.arrow-left{
      @include transform( rotate(-90deg) );

      left: 0;

      margin-left: 2em;

      &:hover{
        margin-left: 1.5em;
      }
    }

    &.arrow-right{
      @include transform( rotate(90deg) );

      right: 0;

      margin-right: 2em;

      &:hover{
        margin-right: 1.5em;
      }
    }
  }
}

// Only show arrows when slider is hovered
.section-slider .section-content{
  .slider-controls{
    @include hide( .3s );
  }

  &:hover .slider-controls{
    @include show( .3s );
  }
}