$ratio: (1 / 2) * 100%; // 2:1

.case_slider{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  
  width: calc(100% - 120px);
  height: 80%;
  margin: auto;
  
  .case_slider-content{
    height: 100%;
  }
}

.slider{
  position: relative;
}

// Gallery: images
.slider-images{
  height: 100%;
  padding: 0;
  
  li{
    @include hide( .5s );
    
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    div{
      position: absolute;
      
      height: 100%;
      width: 100%;
      
      text-align: center;
      
      img{
        @include transform( translateY(-50%) );
        
        top: 50%;
        position: relative;
        
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
      }
    }
    
    &.is-active{
      @include show( .5s );
    }
  }
}