header {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: $zIndex-header;
  
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  
  background: $white;
  text-align: center;
  
  a:first-child h1{
    display: inline-block;
  }
  
  a:last-child{
    right: 60px;
    bottom: 15px;
    position: absolute;
  }
}