.overlay{
  @include hide( .5s );
  
  top: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: $zIndex-overlay;
  
  width: 100%;
  height: 100%;
  
  background: $blue;
  
  *{
    color: $white;
  }
}

.overlay *{
  font-size: rem-calc(24);
}

.overlay_header{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  
  text-align: center;
  
  a:first-child h1{
    display: inline-block;
  }
  
  a:last-child{
    right: 60px;
    position: fixed;
    
    img{
      width: 15px;
      margin-left: 15px;
      margin-bottom: 2px;
      vertical-align: middle;
    }
  }
}

.overlay_content{
  max-width: 650px;
  margin: auto;
  padding: 50px 25px;
  
  p{
    margin-bottom: 1em;
  }
}

@media #{$small-only}{
  .overlay .overlay_header{
    height: auto;
    overflow: hidden;
    
    .overlay_close{
      right: 0;
      bottom: 0;
      position: relative;
      
      width: 100%;
      float: left;
      margin-top: 25px;
    }
  }
}