.section_grid{
  ul{
    width: 100%;
  }
}

// Grid item
.section_grid ul li{
  float: none;
  display: inline-block;
  
  margin-bottom: 50px;
  
  a{
    vertical-align: baseline;
    
    img{
      display: block;
      
      min-width: 100%;
    }
    
    p{
      padding: 1em 0;
    }
  }
}

// Removing margin-bottom for last row
@media #{$large-up}{
  @for $value from $block-grid-elements through 1{
    .l-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$medium-only}{
  @for $value from $block-grid-elements through 1{
    .m-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$small-only}{
  @for $value from $block-grid-elements through 1{
    .s-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

.section_grid ul.isotope_masonry{
  li:nth-child(n){
    margin-bottom: $column-gutter;
    
    img{
      margin-bottom: 0;
    }
  }
}