%base{
  @include chronicle;
  
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  
  text-decoration: none;
  font-size: 16px;
  color: $black;
  
  &.system{
    @include apercu;
    
    font-size: rem-calc(10);
    letter-spacing: rem-calc(1.5);
  }
}

h1{
  @extend %base;
  
  font-size: rem-calc(24);
  letter-spacing: rem-calc(2.5);
}

h2{
  @extend h1;
}

p{
  @extend %base;
  
  font-size: rem-calc(18);
}

a{
  @extend %base;
  
  cursor: pointer;
  
  &.link-h1,
  &.link-h2,
  &.link-h3,
  &.link-p{
    text-decoration: none;
  }
}

span{
  @extend %base;
}